Django>=5.0
django-cors-headers
djangorestframework
djangorestframework-simplejwt
drf-spectacular
psycopg2-binary
celery[redis]
redis
django-celery-beat
django-filter
python-dotenv
gunicorn
whitenoise
Pillow
jinja2>=3.1.0
boto3
django-storages[azure]>=1.14.0
azure-storage-blob>=12.19.0
django-health-check
faker
django-redis

# Google Cloud - Google Calendar API support
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client

# LiveKit integration
livekit
livekit-api

# Azure Communication Services
azure-communication-phonenumbers

# Stripe integration
stripe

